<div class="row justify-content-center">
  <div class="col">
    <div *ngIf="student">
      <div class="row">
        <div class="col">
          <h2 data-cy="studentDetailsHeading"><span jhiTranslate="autoschoolNewApp.student.detail.title">Student</span></h2>

          <hr />

          <jhi-alert-error></jhi-alert-error>

          <jhi-alert></jhi-alert>
          <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
            <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
          </button>

          <button type="button" [routerLink]="['/student', student.id, 'edit']" class="btn btn-primary">
            <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
          </button>
          <!--          <dl class='row-md jh-entity-details'>-->
          <!--            <dt>-->
          <!--              <span jhiTranslate='autoschoolNewApp.student.firstName'-->
          <!--                    [ngbTooltip]="'autoschoolNewApp.student.help.firstName' | translate"-->
          <!--              >First Name</span-->
          <!--              >-->
          <!--            </dt>-->
          <!--            <dd>-->
          <!--              <span>{{ student.firstName }}</span>-->
          <!--            </dd>-->
          <!--            <dt><span jhiTranslate='autoschoolNewApp.student.middleName'>Middle Name</span></dt>-->
          <!--            <dd>-->
          <!--              <span>{{ student.middleName }}</span>-->
          <!--            </dd>-->
          <!--            <dt><span jhiTranslate='autoschoolNewApp.student.lastName'>Last Name</span></dt>-->
          <!--            <dd>-->
          <!--              <span>{{ student.lastName }}</span>-->
          <!--            </dd>-->
          <!--            <dt><span jhiTranslate='autoschoolNewApp.student.email'>Email</span></dt>-->
          <!--            <dd>-->
          <!--              <span>{{ student.email }}</span>-->
          <!--            </dd>-->
          <!--            <dt><span jhiTranslate='autoschoolNewApp.student.phoneNumber'>Phone Number</span></dt>-->
          <!--            <dd>-->
          <!--              <span>{{ student.phoneNumber }}</span>-->
          <!--            </dd>-->
          <!--            <dt><span jhiTranslate='autoschoolNewApp.student.jmbg'>Jmbg</span></dt>-->
          <!--            <dd>-->
          <!--              <span>{{ student.jmbg }}</span>-->
          <!--            </dd>-->
          <!--            <dt><span jhiTranslate='autoschoolNewApp.student.date'>Date</span></dt>-->
          <!--            <dd>-->
          <!--              <span>{{ student.date | formatMediumDatetime }}</span>-->
          <!--            </dd>-->
          <!--          </dl>-->

          <table class="table">
            <tbody>
              <tr>
                <th scope="row">
                  <span
                    jhiTranslate="autoschoolNewApp.student.firstName"
                    [ngbTooltip]="'autoschoolNewApp.student.help.firstName' | translate"
                    >First Name</span
                  >
                </th>
                <td>{{ student.firstName }}</td>
              </tr>
              <tr>
                <th><span jhiTranslate="autoschoolNewApp.student.middleName">Middle Name</span></th>
                <td>{{ student.middleName }}</td>
              </tr>
              <tr>
                <th><span jhiTranslate="autoschoolNewApp.student.lastName">Last Name</span></th>
                <td>{{ student.lastName }}</td>
              </tr>
              <tr>
                <th scope="row"><span jhiTranslate="autoschoolNewApp.student.email">Email</span></th>
                <td>{{ student.email }}</td>
              </tr>
              <tr>
                <th scope="row"><span jhiTranslate="autoschoolNewApp.student.phoneNumber">Phone Number</span></th>
                <td>{{ student.phoneNumber }}</td>
              </tr>
              <tr>
                <th scope="row"><span jhiTranslate="autoschoolNewApp.student.date">Date</span></th>
                <td>{{ student.jmbg }}</td>
              </tr>
              <tr>
                <th scope="row"><span jhiTranslate="autoschoolNewApp.student.date">Date</span></th>
                <td>{{ student.date | formatMediumDatetime }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col">
          <h2 data-cy="studentDetailsHeading"><span>Racunica</span></h2>
          <hr />

          <table class="table">
            <tbody>
              <tr>
                <th scope="row">Ukupan broj redovnih teorijskih casova</th>
                <td>20</td>
              </tr>
              <tr>
                <th scope="row">Ukupan broj redovnih prakticnih casova</th>
                <td>20</td>
              </tr>
              <tr>
                <th scope="row">Ukupan broj dodatnih casova</th>
                <td>20</td>
              </tr>
              <tr>
                <th scope="row">Ukupa uplacena svota novca</th>
                <td>5500 RSD</td>
              </tr>
              <tr>
                <th scope="row">Ukupno dugovanje</th>
                <td>50000 RSD</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col">
          <h2 data-cy="studentDetailsHeading"><span jhiTranslate="autoschoolNewApp.lessons.detail.title">Lessons</span></h2>
          <hr />
          <div class="alert alert-warning" id="no-result" *ngIf="student.lessons?.length === 0">
            <span jhiTranslate="autoschoolNewApp.lessons.home.notFound">No lessons found</span>
          </div>
          <div class="table-responsive" id="entities-lessons" *ngIf="student.lessons && student.lessons.length > 0">
            <table class="table table-striped" aria-describedby="page-heading">
              <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending">
                  <th scope="col" jhiSortBy="date">
                    <span jhiTranslate="autoschoolNewApp.lessons.date">Date</span>
                    <fa-icon icon="sort"></fa-icon>
                  </th>
                  <th scope="col" jhiSortBy="type">
                    <span jhiTranslate="autoschoolNewApp.lessons.type">Type</span>
                    <fa-icon icon="sort"></fa-icon>
                  </th>
                  <th scope="col" jhiSortBy="amount">
                    <span jhiTranslate="autoschoolNewApp.lessons.amount">Amount</span>
                    <fa-icon icon="sort"></fa-icon>
                  </th>
                  <!--            <th scope="col" jhiSortBy="student.id">-->
                  <!--              <span jhiTranslate="autoschoolNewApp.lessons.student">Student</span> <fa-icon icon="sort"></fa-icon>-->
                  <!--            </th>-->
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let lessons of student.lessons; trackBy: trackId" data-cy="entityTable">
                  <td>{{ lessons.date | formatMediumDatetime }}</td>
                  <td>{{ lessons.type }}</td>
                  <td>{{ lessons.amount }}</td>
                  <!--            <td>-->
                  <!--              <div *ngIf="lessons.student">-->
                  <!--                <a [routerLink]="['/student', lessons.student?.id, 'view']">{{ lessons.student?.id }}</a>-->
                  <!--              </div>-->
                  <!--            </td>-->
                  <td class="text-right">
                    <div class="btn-group">
                      <button
                        type="submit"
                        [routerLink]="['/lessons', lessons.id, 'view']"
                        class="btn btn-info btn-sm"
                        data-cy="entityDetailsButton"
                      >
                        <fa-icon icon="eye"></fa-icon>
                        <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                      </button>

                      <button
                        type="submit"
                        [routerLink]="['/lessons', lessons.id, 'edit']"
                        class="btn btn-primary btn-sm"
                        data-cy="entityEditButton"
                      >
                        <fa-icon icon="pencil-alt"></fa-icon>
                        <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                      </button>

                      <button type="submit" (click)="delete(lessons)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                        <fa-icon icon="times"></fa-icon>
                        <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col">
          <h2 data-cy="studentDetailsHeading"><span jhiTranslate="autoschoolNewApp.payment.detail.title">Payments</span></h2>
          <hr />
          <div class="table-responsive" id="entities-payments" *ngIf="student.payments && student.payments.length > 0">
            <table class="table table-striped" aria-describedby="page-heading">
              <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending">
                  <th scope="col" jhiSortBy="date">
                    <span jhiTranslate="autoschoolNewApp.payment.date">Date</span>
                    <fa-icon icon="sort"></fa-icon>
                  </th>
                  <th scope="col" jhiSortBy="amount">
                    <span jhiTranslate="autoschoolNewApp.payment.amount">Amount</span>
                    <fa-icon icon="sort"></fa-icon>
                  </th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let payment of student.payments; trackBy: trackId" data-cy="entityTable">
                  <td>{{ payment.date | formatMediumDatetime }}</td>
                  <td>{{ payment.amount }}</td>
                  <td class="text-right">
                    <div class="btn-group">
                      <button
                        type="submit"
                        [routerLink]="['/payment', payment.id, 'view']"
                        class="btn btn-info btn-sm"
                        data-cy="entityDetailsButton"
                      >
                        <fa-icon icon="eye"></fa-icon>
                        <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                      </button>

                      <button
                        type="submit"
                        [routerLink]="['/payment', payment.id, 'edit']"
                        class="btn btn-primary btn-sm"
                        data-cy="entityEditButton"
                      >
                        <fa-icon icon="pencil-alt"></fa-icon>
                        <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                      </button>

                      <button type="submit" (click)="delete(payment)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                        <fa-icon icon="times"></fa-icon>
                        <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
