<div class="row justify-content-center">
  <div class="col">
    <div *ngIf="student">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <h2 data-cy="studentDetailsHeading"><span jhiTranslate="autoschoolNewApp.student.detail.title">Student</span></h2>
            </div>
            <div class="col text-right">
              <button type="button" [routerLink]="['/student', student.id, 'edit']" class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
              </button>
            </div>
          </div>

          <jhi-alert-error></jhi-alert-error>

          <jhi-alert></jhi-alert>
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">
                  <span
                    jhiTranslate="autoschoolNewApp.student.firstName"
                    [ngbTooltip]="'autoschoolNewApp.student.help.firstName' | translate"
                    >First Name</span
                  >
                </th>
                <td>{{ student.firstName }}</td>
              </tr>
              <tr>
                <th><span jhiTranslate="autoschoolNewApp.student.middleName">Middle Name</span></th>
                <td>{{ student.middleName }}</td>
              </tr>
              <tr>
                <th><span jhiTranslate="autoschoolNewApp.student.lastName">Last Name</span></th>
                <td>{{ student.lastName }}</td>
              </tr>
              <tr>
                <th scope="row"><span jhiTranslate="autoschoolNewApp.student.email">Email</span></th>
                <td>{{ student.email }}</td>
              </tr>
              <tr>
                <th scope="row"><span jhiTranslate="autoschoolNewApp.student.phoneNumber">Phone Number</span></th>
                <td>{{ student.phoneNumber }}</td>
              </tr>
              <tr>
                <th scope="row"><span jhiTranslate="autoschoolNewApp.student.jmbg">JMBG</span></th>
                <td>{{ student.jmbg }}</td>
              </tr>
              <tr>
                <th scope="row"><span jhiTranslate="autoschoolNewApp.student.date">Date</span></th>
                <td>{{ student.date | formatMediumDatetime }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col">
          <h2 data-cy="studentDetailsHeading"><span>Finansijski status</span></h2>
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">Ukupan broj teorijskih časova</th>
                <td>{{ theoreticalHours }}</td>
              </tr>
              <tr>
                <th scope="row">Ukupan broj praktičnih časova</th>
                <td>{{ drivingHours }}</td>
              </tr>
              <tr>
                <th scope="row">Ukupa uplaćena svota novca</th>
                <td>{{ totalPaidAmount }} RSD</td>
              </tr>
              <tr>
                <th scope="row">Ukupni troškovi</th>
                <td>{{ debitAmount }} RSD</td>
              </tr>
              <tr>
                <th scope="row">Ukupno dugovanje</th>
                <td>{{ studentDebitAmount }} RSD</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col">
          <div class="row">
            <div class="col">
              <h2 data-cy="studentDetailsHeading"><span jhiTranslate="autoschoolNewApp.lessons.detail.title">Lessons</span></h2>
            </div>
            <div class="col text-right">
              <button
                id="jh-create-entity-lessons"
                data-cy="entityCreateButton"
                class="btn btn-primary jh-create-entity create-lessons"
                (click)="createNewLessons(student)"
              >
                <fa-icon icon="plus"></fa-icon>
                <span jhiTranslate="autoschoolNewApp.lessons.home.createLabel"> Create a new Lessons </span>
              </button>
            </div>
          </div>
          <div class="alert alert-warning" id="no-result" *ngIf="student.lessons?.length === 0">
            <span jhiTranslate="autoschoolNewApp.lessons.home.notFound">No lessons found</span>
          </div>
          <div class="table-responsive" id="entities-lessons" *ngIf="student.lessons && student.lessons.length > 0">
            <table class="table table-striped" aria-describedby="page-heading">
              <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending">
                  <th scope="col" jhiSortBy="date">
                    <span jhiTranslate="autoschoolNewApp.lessons.date">Date</span>
                    <fa-icon icon="sort"></fa-icon>
                  </th>
                  <th scope="col" jhiSortBy="type">
                    <span jhiTranslate="autoschoolNewApp.lessons.type">Type</span>
                    <fa-icon icon="sort"></fa-icon>
                  </th>
                  <th scope="col" jhiSortBy="amount">
                    <span jhiTranslate="autoschoolNewApp.lessons.amount">Amount</span>
                    <fa-icon icon="sort"></fa-icon>
                  </th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let lessons of student.lessons; trackBy: trackId" data-cy="entityTable">
                  <td>{{ lessons.date | formatMediumDatetime }}</td>
                  <td *ngIf="lessons.type === lessonsType.DRIVING">Praktična nastava</td>
                  <td *ngIf="lessons.type === lessonsType.THEORETICAL">Teorijska nastava</td>
                  <td>{{ lessons.amount }}</td>
                  <td class="text-right">
                    <div class="btn-group">
                      <button
                        type="submit"
                        [routerLink]="['/lessons', lessons.id, 'edit']"
                        class="btn btn-primary btn-sm"
                        data-cy="entityEditButton"
                      >
                        <fa-icon icon="pencil-alt"></fa-icon>
                        <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                      </button>

                      <button type="submit" (click)="deleteLessons(lessons)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                        <fa-icon icon="times"></fa-icon>
                        <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col">
              <h2 data-cy="studentDetailsHeading"><span jhiTranslate="autoschoolNewApp.payment.detail.title">Payments</span></h2>
            </div>
            <div class="col text-right">
              <button
                id="jh-create-entity-payment"
                data-cy="entityCreateButton"
                class="btn btn-primary jh-create-entity create-payment"
                (click)="createNewPayment(student)"
              >
                <fa-icon icon="plus"></fa-icon>
                <span jhiTranslate="autoschoolNewApp.payment.home.createLabel"> Create a new Payment </span>
              </button>
            </div>
          </div>

          <div class="table-responsive" id="entities-payments" *ngIf="student.payments && student.payments.length > 0">
            <table class="table table-striped" aria-describedby="page-heading">
              <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending">
                  <th scope="col" jhiSortBy="date">
                    <span jhiTranslate="autoschoolNewApp.payment.date">Date</span>
                    <fa-icon icon="sort"></fa-icon>
                  </th>
                  <th scope="col" jhiSortBy="amount">
                    <span jhiTranslate="autoschoolNewApp.payment.amount">Amount</span>
                    <fa-icon icon="sort"></fa-icon>
                  </th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let payment of student.payments; trackBy: trackId" data-cy="entityTable">
                  <td>{{ payment.date | formatMediumDatetime }}</td>
                  <td>{{ payment.amount }}</td>
                  <td class="text-right">
                    <div class="btn-group">
                      <button
                        type="submit"
                        [routerLink]="['/payment', payment.id, 'edit']"
                        class="btn btn-primary btn-sm"
                        data-cy="entityEditButton"
                      >
                        <fa-icon icon="pencil-alt"></fa-icon>
                        <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                      </button>

                      <button type="submit" (click)="deletePayment(payment)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                        <fa-icon icon="times"></fa-icon>
                        <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-6">
          <div>
            <div class="row">
              <div class="col">
                <h2 data-cy="examDetailsHeading"><span jhiTranslate="autoschoolNewApp.exam.detail.title">Ispiti</span></h2>
              </div>
              <div class="col text-right">
                <button
                  id="jh-create-entity-exams"
                  data-cy="entityCreateButton"
                  class="btn btn-primary jh-create-entity create-exam"
                  (click)="createNewExam(student)"
                >
                  <fa-icon icon="plus"></fa-icon>
                  <span jhiTranslate="autoschoolNewApp.exam.home.createLabel"> Create a new Exam </span>
                </button>
              </div>
            </div>

            <jhi-alert-error></jhi-alert-error>

            <jhi-alert></jhi-alert>

            <div class="alert alert-warning" id="no-result-exams" *ngIf="student.exams?.length === 0">
              <span jhiTranslate="autoschoolNewApp.exam.home.notFound">No exams found</span>
            </div>

            <div class="table-responsive" id="entities" *ngIf="student.exams && student.exams.length > 0">
              <table class="table table-striped" aria-describedby="page-heading">
                <thead>
                  <tr>
                    <th scope="col"><span jhiTranslate="autoschoolNewApp.exam.date">Date</span></th>
                    <th scope="col"><span jhiTranslate="autoschoolNewApp.exam.type">Type</span></th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let exam of student?.exams" data-cy="entityTable">
                    <td>{{ exam.date | formatMediumDatetime }}</td>
                    <td *ngIf="exam.type === examType.DRIVING">Vozački ispit</td>
                    <td *ngIf="exam.type === examType.THEORETICAL">Teorijski ispit</td>
                    <td class="text-right">
                      <div class="btn-group">
                        <button
                          type="submit"
                          [routerLink]="['/exam', exam.id, 'edit']"
                          class="btn btn-primary btn-sm"
                          data-cy="entityEditButton"
                        >
                          <fa-icon icon="pencil-alt"></fa-icon>
                          <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>

                        <button type="submit" (click)="deleteExam(exam)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                          <fa-icon icon="times"></fa-icon>
                          <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-6"></div>
      </div>
    </div>
  </div>
</div>
